################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VendingMachine/UI/ConsoleApp/AcmeSodaConsoleApp/bin
/VendingMachine/UI/ConsoleApp/AcmeSodaConsoleApp/obj
/Fippa/Fippa.Common/bin
/Fippa/Fippa.Common/obj
/Fippa/Fippa.Common.Tests/bin
/Fippa/Fippa.Common.Tests/obj
/Fippa/Fippa.Money/bin
/Fippa/Fippa.Money/obj
/Fippa/Fippa.Money.Tests/bin
/Fippa/Fippa.Money.Tests/obj
