################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VendingMachine/UI/ConsoleApp/AcmeSodaConsoleApp/bin
/VendingMachine/UI/ConsoleApp/AcmeSodaConsoleApp/obj
/Fippa/Fippa.Common/bin
/Fippa/Fippa.Common/obj
/Fippa/Fippa.Common.Tests/bin
/Fippa/Fippa.Common.Tests/obj
/Fippa/Fippa.Money/bin
/Fippa/Fippa.Money/obj
/Fippa/Fippa.Money.Tests/bin
/Fippa/Fippa.Money.Tests/obj
/Fippa/Fippa.IO/bin
/Fippa/Fippa.IO/obj
/Fippa/Fippa.IO.Tests/bin
/Fippa/Fippa.IO.Tests/obj
/VendingMachine/Shared/Domain/Domain/bin
/VendingMachine/Shared/Domain/Domain/obj
/VendingMachine/Shared/Domain/DomainTests/bin
/VendingMachine/Shared/Domain/DomainTests/obj
/VendingMachine/Shared/Application/Services/bin
/VendingMachine/Shared/Application/Services/obj
/VendingMachine/Shared/Application/Services.Tests/bin
/VendingMachine/Shared/Application/Services.Tests/obj
/VendingMachine/Shared/Domain/BusinessLogic/obj
/VendingMachine/Shared/Domain/BusinessLogic.Tests/bin
/VendingMachine/Shared/Domain/BusinessLogic.Tests/obj
/VendingMachine/Shared/Domain/Models/bin
/VendingMachine/Shared/Domain/Models/obj
/VendingMachine/Shared/Domain/Models.Tests/bin
/VendingMachine/Shared/Domain/Models.Tests/obj
/VendingMachine/Shared/Domain/VendingLogic/bin
/VendingMachine/Shared/Domain/VendingLogic/obj
/VendingMachine/UI/ConsoleApp/AcmeSodaConsole.Tests/bin
/VendingMachine/UI/ConsoleApp/AcmeSodaConsole.Tests/obj
/VendingMachine/Shared/Domain/Models/bin
/VendingMachine/Shared/Domain/Models/obj
/VendingMachine/Shared/Domain/VendingLogic.Tests/bin
/VendingMachine/Shared/Domain/VendingLogic.Tests/obj
/VendingMachine/Shared/Domain/VendingLogic.Tests/bin
/Fippa/Fippa.IO.Tests/bin
/VendingMachine/UI/ConsoleApp/AcmeSodaConsole.Tests/bin
/Fippa/Fippa.IO/bin
/VendingMachine/Shared/Application/Services/bin
/VendingMachine/Shared/Domain/Models/bin
/VendingMachine/Shared/Domain/VendingLogic/bin
/VendingMachine/Shared/UI/UserInterface/bin
/VendingMachine/Shared/UI/UserInterface/obj
/VendingMachine/Shared/UI/UserInterface/bin
/VendingMachine/Shared/Infrastructure/Infrastructure/bin
/VendingMachine/Shared/Infrastructure/Infrastructure/obj
/VendingMachine/Shared/Infrastructure/Infrastructure.Tests/bin/Debug/netcoreapp3.1
/Fippa/Fippa.DependencyInjection/obj
/Fippa/Fippa.DependencyInjection/bin/Debug/netstandard2.0
/VendingMachine/Shared/Infrastructure/Infrastructure.Tests/bin/Debug/net5.0
